.herocontainer{
    margin: 5rem 8rem;
}

.herointro{
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -2.5px;
}

.heroname{
    border-bottom: 4px solid var(--green-color);
}

.herodescription{
   color: var(--light-grey);
   font-size: 1rem;
   padding: 2rem 0;
}

.myresume{
   text-transform: uppercase;
   font-size: 1.5rem;
   letter-spacing: 2px;
   border-bottom: 2px solid var(--green-color);
}

.myresume:hover{
    color: var(--green-color);
    cursor: pointer;
}