.footercontainer{
    padding: 2rem 8rem;
    background-color: var(--dark-grey);
    border-top: 1px solid var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footername{
    font-weight: 700;
    font-size: 1.5rem;
}

.icon{
    color: var(--green-color);
    margin-left: 2.5rem;
    font-size: 1.3rem;
    padding: 0.8rem 1rem; 
    border-radius: 50%;
    transition: all 100ms ease-in-out;
  }

.icon:hover{
    color: var(--white-color);
    background: var(--green-color);
}

@media screen and (max-width: 1024px) {
   
.icon{
    padding: 0.5rem 0.8rem; 
    margin-left: 0rem;
}
}

@media screen and (max-width: 768px) {

.footercontainer{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.footericons{
    display: flex;
    justify-content: center;
}

.icon{
    margin-left: 0rem;
    margin: 0rem 1rem;
    font-size: 1rem;
    }
}

@media screen and  (max-width: 480px) { 
.footercontainer{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footericons{
    display: flex;
}

.icon{
    margin-left: 0rem;
    padding: 0.2rem 0.5rem; 
    margin: 1rem;
    font-size: 1rem;
    }
}