*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #151515;  /* Black */
  --dark-grey: #242424; /* Dark Grey */
  --green-color: #4EE1A0;  /* Green */
  --white-color: #ffff;      /* White */
  --light-grey: #d9d9d9;    /* Grey */
  --default-font-family: 'Space Grotesk', sans-serif;

}

body {
  margin: 0px auto; 
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* @media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and  (max-width: 480px) { 

} */

